$primary-color: #D72C30;
$secondary-color: #9E9E9E;
$alert-color: #F03C52;
$success-color: #6CB814;
$warning-color: #C0B528;
$info-color: #4A90E2;

$master-theme-color: #F12C3D;
$secondary-theme-color: $primary-color;
$master-theme-bg-color: #F5F5F3;
$secondary-theme-bg-color: $white;
$title-text-color: #4A4A4A;
$title-alt-text-color: #33485F;
$body-text-color: $title-text-color;
$body-alt-text-color: #9B9B9B;
$dum-color: $secondary-color;
$body-alt-text-color: #9B9B9B;
$title-alt-text-color: #33485F;
$outline-color: #E0E0E0;
$outline-alt-color: #CFCFCF;
$placeholder-color: $primary-color;

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300);
$font-family-ubuntu: "Ubuntu", Helvetica, Roboto, Arial, sans-serif !default;
$font-weight-bold: 400;
$font-weight-normal: 300;
$font-weight-light: 300;

$font-size-special: rem-calc(24);
$font-size-huge: rem-calc(18);
$font-size-large: rem-calc(16);
$font-size-normal: rem-calc(14);
$font-size-small: rem-calc(13);
$font-size-tiny: rem-calc(12);

$row-width: $global-width;

$global-shadow: 0px 2px 2px #C7C7C7;

$body-font-size: $font-size-normal;
$title-font-size: $font-size-large;
$table-hover-bg-color: #EFFBFF;
$list-hover-bg-color: #EFFBFF;
$input-placeholder-font-color: #A7A5A5;
