{
  "parser": "babel-eslint",

  "plugins": [
    "react",
  ],

  "extends": "airbnb",

  "env": {
    "mocha": true
  },

  "rules": {
    // only warn about long line, but not error
    "max-len": 1,
    "no-underscore-dangle": ["error", {
      "allow": ["_id"]
    }]
  },

  "globals": {
    "VERSION": true
  }
}
