/*------------------------------------*\
    Base
\*------------------------------------*/
#app, #app>section{
  height: auto;
  min-height: 100%;
}

.container{
  max-width: $row-width;
  margin: auto;
}

// clear spacing for section
section{
  max-width: 100%;
  &:after{
    clear: both;
  }
  &:before, &:after{
    content: " ";
    display: table;
  }
}

.unstyle-list{
  list-style: none;
  margin: 0;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.clearfix {
  @include clearfix;
}

.left {
  float: left;
}

.right {
  float: right;
}

.vertical-align{
  @extend %vertical-align;
}

.center-align{
  @extend %center-align
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.center-box{
  display: table;
  height: 100%;
  padding-bottom: 50px;

  &__content{
    display: table-cell;
      vertical-align: middle;
      float: none;
  }
}

.row.collapse-left > .column, .row.collapse-left > .columns{
  padding-left: 0;
}

.row.collapse{
  .collapse-padding-left{
    padding-left: 15px;
  }
}

.full-width{
  width: 100%;
}

%shadow{
  box-shadow: 0px 1px 3px $body-alt-text-color;
}
.shadow{
  @extend %shadow;
}

%clickable{
  cursor: pointer;
}
.clickable{
  @extend %clickable;
}
