/*------------------------------------*\
    Typography
\*------------------------------------*/
/* reset font as medium size */
body, ul {
  font-size: $font-size-normal;
}

.heading {
  font-size: $font-size-big;
  line-height: 2;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.title {
  font-size: $font-size-big;
  text-transform: uppercase;
}

.page-title {
  font-size: $font-size-title;
  font-weight: $font-weight-bold;
}

.italic {
  font-style: italic;
}

.hero-text {
  font-size: $font-size-title;
  color: $primary-color;
}
.app-text {
  font-size: $font-size-xspecial;
  color: $alert-color;
}
.large-text {
  font-size: $font-size-title;
  font-weight: $font-weight-light;
  margin-top: 56px;
}
.dum-text {
  font-size: $font-size-small;
  color: $dum-color;
  vertical-align:middle;
}
.subcontent {
  font-size: $font-size-small;
  color: $body-alt-text-color;
}
.dum-link {
  color: $body-alt-text-color;
  font-weight: $font-weight-light;
}
.2x {
  font-size: 2em !important;
}
p.lead {
  font-size: $font-size-big;
}
.text {
  &-small {
    font-size: $font-size-small;
  }
  &-primary {
    color:$primary-color;
  }
  &-alert {
    color:$alert-color;
  }
  &-warning {
    color:$warning-color;
  }
  &-dum {
    color:$dum-color;
  }
  &-alt {
    color: $title-alt-text-color;
  }
}

%label-style {
  font-size: $font-size-small;
  font-weight: $font-weight-light;
  color: $body-alt-text-color;
  margin-bottom: 6px;
}
