
.change-password {
  margin-left:auto;
  margin-right:auto;
  width: 20rem;

  &__box {
    margin-top: 7rem;
    border: #E6E6E6 1px solid;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 2px 2px 5px #D3D3D3;

    &__header {
      height: 3rem;
      font-size: 0.75rem;
      border-bottom: #E6E6E6 1px solid;
      text-transform: uppercase;
      padding: 1rem 2rem;
      font-weight: 500;
      color: #4B4A4A;
    }

    &__input {
      height: 3.5rem;
      font-size: 0.75rem;
      padding: 0.75rem 2rem;
    }

    &__password {
      height: 2rem;
      width: 100%;
      line-height: 2rem;
      outline: none;
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 3px;
      border: #E6E6E6 1px solid;
    }

    &__footer {
      height: 4rem;
      font-size: 0.75rem;
      padding: 0rem 2rem;
    }

    &__button {
      width: 5rem;
      height: 2rem;
      margin: 1rem 0 1rem 1rem;
      padding: 0.5rem 0.5rem;
      text-transform: uppercase;
      font-size: 0.75rem;
      border-radius: 2px;
      float: right;
    }

    & .update {
      background: #4E92E0;
    }

    & .cancel {
      background: #D0D0D0;
    }

  }

}
