.auth-section {
  margin: rem-calc(150) auto;
  max-width: rem-calc(450);

  a {
    color: $grey-500;
    &:hover,
    &:focus {
      color: $primary-color;
    }
  }

  .button {
    font-size: $font-size-huge;
    padding: 0.75em;
  }

  .field-row {
    position: relative;
    font-size: $font-size-large;
  }

  .action-row {
    margin: rem-calc(25 0 20);
  }

  .password-validator {
    position: absolute;
    right: -110%;
    top: -30%;
    font-size: $font-size-normal;

    .row {
      margin-bottom: rem-calc(10);

      &:last-child {
        margin-bottom: 0;
      }
    }

    .invalid-icon {
      color: $grey-500;
    }

    &__title {
      font-size: $font-size-tiny;
      font-weight: $font-weight-normal;
    }
  }

  &__main-block {
    margin-top: rem-calc(40);
    padding: rem-calc(40);
    font-size: $font-size-normal;
  }

  &__title {
    font-weight: $font-weight-bold;
    margin-bottom: $global-spacing;
  }
}
