.button {
  &.icon{
    padding: 12.5px 13px;
  }

  &.white {
    background-color: $white;
    color: $title-alt-text-color;
  }

  &.clear {
    margin-bottom: 0;
  }

  &.expand {
    width: 100%;
    padding: rem-calc(16) rem-calc(32);
  }

  &.round {
    border-radius: 50%;
  }
}
